@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffe4e9, #fff1f5);
  font-family: "Nunito", sans-serif;
}

.card {
  text-align: center;
}

h1 {
  font-size: 3em;
  color: #ff5c8a;
}

img {
  width: 300px;
  margin: 20px 0;
}

button {
  font-size: 1.3em;
  padding: 12px 30px;
  border-radius: 40px;
  border: none;
  background: #ff5c8a;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  display: block;        
  margin: 0 auto;
}

button:hover {
  transform: scale(1.1);
}
